.ligo_mou_transfer_enroller_co_petitions .form-group > label {
    margin-left: 1.5em;
}

.ligo_mou_transfer_enroller_co_petitions .form-group input[type=checkbox] {
    margin-left: 0;
}

.ligo_mou_transfer_enroller_co_petitions .transaction-mode {
    display: flex;
    flex-flow: column;
    align-items: self-start;
}

.ligo_mou_transfer_enroller_co_petitions.petitionerAttributes .co-info-topbox {
    margin: 0.5em 0.5em 0.5em 0;
}